---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search/?api_key=<DATA_API_KEY>&format=json&max=10&offset=0&q=&sort=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3224'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "",
                "sr": "1",
                "ds": "any",
                "start": 0,
                "end": 10,
                "total": 247326,
                "group": "",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Branded Food Products Database",
                        "name": "SLICED POTATOES, UPC: 070038630678",
                        "ndbno": "45346780",
                        "ds": "LI",
                        "manu": "none"
                    },
                    {
                        "offset": 1,
                        "group": "Branded Food Products Database",
                        "name": "WHOLE SWEET, UPC: 070038331858",
                        "ndbno": "45346779",
                        "ds": "LI",
                        "manu": "none"
                    },
                    {
                        "offset": 2,
                        "group": "Branded Food Products Database",
        [...]
